@page "/changePassword"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
<h3>Change password</h3>


<EditForm Model="userChangePasswordDto" OnValidSubmit="HandleChangePassword" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />

    <div class="form-group row rz-pb-2">
        <label for="CurrentPassword" class="col-md-2 col-form-label">Current password:</label>
        <div class="col-md-10">
            <InputText type="password" id="CurrentPassword" class="form-control" @bind-Value="userChangePasswordDto.CurrentPassword" />
            <ValidationMessage For="@(() => userChangePasswordDto.CurrentPassword)" />
        </div>
    </div>

    <div class="form-group row rz-pb-2">
        <label for="NewPassword" class="col-md-2 col-form-label">New password:</label>
        <div class="col-md-10">
            <InputText type="password" id="NewPassword" class="form-control" @bind-Value="userChangePasswordDto.NewPassword" />
            <ValidationMessage For="@(() => userChangePasswordDto.NewPassword)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Change</button>
        </div>
    </div>
</EditForm>

