@page "/users"
@using BlazorWASMOnionMessenger.Domain.DTOs.User;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inherits BaseGrid<UserDto>



<h3>Users</h3>
<RadzenRow>
    <RadzenColumn Size="8">
        <RadzenTextBox Placeholder="Search..." @bind-Value="Search" class="w-15" />
        <RadzenButton Click="Navigate" Text="Search" ButtonStyle="ButtonStyle.Info" />
    </RadzenColumn>
    <RadzenColumn Size="4">
        <RadzenLabel Text="Desc" Component="CheckBox1" Style="margin-right: 8px; vertical-align: middle;" />
        <RadzenCheckBox @bind-Value=OrderType Name="CheckBox1" TValue="bool" Change="OnCheckBoxChange" />
        <RadzenDropDown @bind-Value=OrderBy Data=OrderProps class="mt-2" Style="width: 100%; max-width: 400px;" Change="Navigate" />
    </RadzenColumn>
</RadzenRow>

<RadzenDataGrid TItem="UserDto" Data="Items" IsLoading="isLoading" RowClick="OnRowClick">
    <Columns>
        <RadzenDataGridColumn TItem="UserDto" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="UserDto" Property="UserName" Title="Username" />
        <RadzenDataGridColumn TItem="UserDto" Property="FirstName" Title="First Name" />
        <RadzenDataGridColumn TItem="UserDto" Property="LastName" Title="Last Name" />
        <RadzenDataGridColumn TItem="UserDto" Property="PhoneNumber" Title="Phone Number" />
    </Columns>
</RadzenDataGrid>
<RadzenRow>
    <RadzenColumn Size="10">
        <RadzenPager Count="Total" PageSize="PageSize" PageNumbersCount="5" PageChanged="OnPageChange" />
    </RadzenColumn>
    <RadzenColumn Size="2">
        <RadzenDropDown @bind-Value=PageSize Data=PageSizeOptions class="mt-2" Style="width: 100%; max-width: 400px;" Change="Navigate" />
    </RadzenColumn>
</RadzenRow>
