@page "/chats"
@using BlazorWASMOnionMessenger.Domain.DTOs.Chat;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inherits BaseGrid<ChatDto>

<h3>Chats</h3>
<RadzenRow>
    <RadzenColumn Size="8">
        <RadzenTextBox Placeholder="Search..." @bind-Value="Search" class="w-15" />
        <RadzenButton Click="Navigate" Text="Search" ButtonStyle="ButtonStyle.Info" />
    </RadzenColumn>
    <RadzenColumn Size="4">
        <RadzenLabel Text="Desc" Component="CheckBox1" Style="margin-right: 8px; vertical-align: middle;" />
        <RadzenCheckBox @bind-Value=OrderType Name="CheckBox1" TValue="bool" Change="OnCheckBoxChange" />
        <RadzenDropDown @bind-Value=OrderBy Data=OrderProps class="mt-2" Style="width: 100%; max-width: 400px;" Change="Navigate" />
    </RadzenColumn>
</RadzenRow>

<RadzenDataGrid TItem="ChatDto" Data="Items" IsLoading="isLoading">
    <Columns>
        <RadzenDataGridColumn TItem="ChatDto" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="ChatDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="ChatDto" Property="ChatType" Title="Type" />
        <RadzenDataGridColumn TItem="ChatDto" Property="CreatedAt" Title="Created At" />
        <RadzenDataGridColumn TItem="ChatDto" Property="LastMessagePreview" Title="Last Message" />
        <RadzenDataGridColumn TItem="ChatDto" Property="LastMessageDate" Title="Message Date" />
        <RadzenDataGridColumn TItem="ChatDto" Property="LastMessageSender" Title="Message Sender" />
    </Columns>
</RadzenDataGrid>
<RadzenRow>
    <RadzenColumn Size="10">
        <RadzenPager Count="Total" PageSize="PageSize" PageNumbersCount="5" PageChanged="OnPageChange" />
    </RadzenColumn>
    <RadzenColumn Size="2">
        <RadzenDropDown @bind-Value=PageSize Data=PageSizeOptions class="mt-2" Style="width: 100%; max-width: 400px;" Change="Navigate" />
    </RadzenColumn>
</RadzenRow>
