@inherits LayoutComponentBase

<RadzenNotification/>
<RadzenContextMenu />
<RadzenDialog />


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="register">
                        Register
                    </NavLink>
                    <NavLink class="nav-link" href="login">
                        Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <RadzenProfileMenu>
                        <Template>
                            <RadzenGravatar Email="user@example.com">
                            </RadzenGravatar>
                        </Template>
                        <ChildContent>
                            <RadzenProfileMenuItem Text="Profile" Path="profile" Icon="account_circle"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Change password" Path="changePassword" Icon="lock"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Logout" Path="logout" Icon="exit_to_app"></RadzenProfileMenuItem>
                        </ChildContent>
                    </RadzenProfileMenu>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
